@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "FeatherBold";
  src: url("/fonts/FeatherBold.ttf");
}

/* CUSTOM SCROLLBAR ----------------------------------------------------------------------------------------------------------------------------*/
*::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}
*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #9f7af6;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #9f7af6dd;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #9f7af6dd;
}

button:disabled {
  cursor: progress;
  background: #e0e0e0;
  color: #a6a6a6;
}

.bg {
  background: radial-gradient(circle, #f9fcff, #dee4ea);
}

.text_violet_gradient {
  @apply bg-gradient-to-r from-violet-500 to-fuchsia-500 bg-clip-text text-transparent;
}

.violet_gradient {
  @apply bg-gradient-to-r from-violet-500 to-fuchsia-500;
}

.desc {
  @apply mt-5 text-lg text-gray-600 sm:text-xl max-w-2xl;
}

.tag-idioma {
  @apply rounded-full text-xs text-white bg-gray-600 py-1 px-6 w-fit;
}

.loader {
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #9f7af6;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}

/* EFEITO LOADING NA BORDA --------------------------------------------------------------------------------------------- */
.loading-border-effect {
  --border-angle: 0turn;
  --background-color: conic-gradient(from var(--border-angle), white, white);
  --gradient-border: conic-gradient(
    from var(--border-angle),
    transparent 25%,
    #8b5cf6,
    #d946ef 99%,
    transparent
  );

  border: solid 4px transparent;

  background: var(--background-color) padding-box,
    var(--gradient-border) border-box, transparent border-box;

  animation: bg-spin 3s linear infinite;
}
@keyframes bg-spin {
  to {
    --border-angle: 1turn;
  }
}
@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}
/* ---------------------------------------------------------- */
